.Progress {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;

  &__status {
    padding-right: 5rem;
    border-right: 1px solid #191919;
  }

  &__icon {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    
    & > svg > :last-child {
      color: var(--clr-primary);
    }
  }
  
  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  &__text--action {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-primary);
    cursor: pointer;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__status {
      padding-bottom: 5rem;
      padding-right: 0;
      border-bottom: 1px solid #191919;
      border-right: none;
    }
  }
}

.icon {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
}

.text {
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 1pt;

  @media (max-width: 480px) {
    font-size: clamp(1rem, calc(1rem + 1vw), 1.1rem);
  }
}
