.Progress {
  background: white;
  max-width: 100%;
  display: flex;
  gap: 5rem;
  padding: 2rem;
  text-align: left;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__status {
    min-width: 9rem;
    max-width: 25%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -2rem;
      height: 100%;
      width: 2px;
      background: rgba(0, 0, 0, 0.23);
      z-index: 2;
    }

    &:after {
      content: none;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.23);
      z-index: 2;
    }
  }

  &__action {
    flex: 1;
  }

  &__icon {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    
    & > svg > :last-child {
      color: var(--clr-primary);
    }
  }
  
  &__title {
    margin-bottom: 1rem;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.3rem);
  }

  &__text--action {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-primary);
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    & > * {
      flex: auto;
      width: 100%;
      min-width: 100%;
    }

    &__status {
      padding-bottom: 2rem;
      padding-right: 0;
      &:before {
        content: none;
      }
      &:after {
        content: '';
      }
    }
  }
}

.icon {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
}

.text {
  font-size: clamp(0.9rem, calc(0.9rem + 1vw), 1.1rem);
  line-height: 1.6;
  letter-spacing: 0.05pt;
}
