.Dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  border-bottom: 1px solid #eee;

  &__container {
    width: 50%;
    max-width: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__action {
    width: 15rem;
    transition: all 0.1s ease;
    cursor: pointer;

    & > p {
      transition: all 0.1s ease;
    }

    & > svg {
      width: 2rem;
      height: 2rem;
      margin-bottom: 0.5rem;
      transition: all 0.1s ease;
    }

    &:hover {
      font-weight: bold;
      transform: scale(1.05);

      & > p,
      > svg > svg > :last-child {
        color: var(--clr-primary);
      }
    }
  }

  @media (max-width: 480px) {
    position: static;
    margin-bottom: 5rem;
    gap: 1rem;

    &__action {
      & > p {
        display: none;
      }
    }
  }
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}
